<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>
<body>
    <table>
        <tr><th>Name</th><th/th>Alter-ego</th><th/th>Primary Ability</th><th/th>Secondary Ability</th><th/th>Catch Phrase</th></tr>
        <tr><td>{{single_hero.name}}</td><td>{{single_hero.alter_ego}}</td><td>{{single_hero.primary_ability}}</td><td>{{single_hero.secondary_ability}}</td><td>{{single_hero.catch_phrase}}</td></tr>
    </table>
</body>
</html>